<% provide(:title, 'ホーム') %>
<% if user_signed_in?%>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>ここにお店の情報を記載予定</h2>
    </div>
  </div>
<% else %>
  <%= render 'login_form' %>
<% end %>
