<div class="map_image">
  <div class="center">
    <%= image_tag('/images/japan_map.png', width: "210", height: "210") %>
  </div>
<div id="hokkaido"><a href="#">北海道</a><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
<div id="tohoku"><a href="#">東北</a><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
<div id="kanto"><a href="#">関東</a><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
<div id="hokuriku"><a href="#">北陸</a><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
<div id="chubu"><a href="#">中部</a><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
<div id="kansai"><a href="#">関西</a><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
<div id="chugoku"><a href="#">中国</a><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
<div id="shikoku"><a href="#">四国</a><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
<div id="kyushu"><a href="#">九州</a><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
</div>
