
<div class="row">
  <div class="col-md-6">
    <div class="top_title">お店を探す</div>
    <%= render 'shop_map' %>
  </div>
  <div class="col-md-6">
    <div class="top_title">MY カルテ</div>
    <div class="center">
      <%= link_to 'Myカルテを作成', '#', class: "btn btn-primary" %>
      <p>あまり会話したくない、etc...</p>
    </div>
  </div>
</div>
