@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

// body {
//   padding-top: 60px;
// }

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  margin-top: 10px;
  text-align: center;
}
.right {
  margin-top: 10px;
  text-align: right;
}
.center h1 {
  margin-bottom: 10px;
}

#side{
  display: inline;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.top_image{
  overflow: hidden;
  background-image: url("/images/top_image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 100px;
}

//flash,システムメッセージ
.notice {
  background-color: #BAD3FF;
  color: #0000CD;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.alert {
  background-color: #FFC0CB;
  color: #FF3333;
  text-align: center;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
@media screen and (min-width: 768px) {
  ul, ol {
    padding-left: 5em;
    margin: 0 25%;
  }

  ul li, ol li {
    line-height: 1.5; /*文の行高*/
    padding: 0.5em 0; /*前後の文との余白*/
    font-weight: bold;
    color: #fff;
  }
}

ul, ol {
  padding-left: 5em;
}

ul li, ol li {
  line-height: 1.5; /*文の行高*/
  padding: 0.5em 0; /*前後の文との余白*/
  font-weight: bold;
  color: #fff;
}

//プロフィール変更ページで使用
.attention_box {
  padding: 0.5em 1em;
  margin-top: 2em;
  font-weight: bold;
  border: solid 5px #FF8856;
}
//header
.header_font {
  color: #fff;
  line-height: 1;
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#logo {
  float: left;
  text-decoration: none;
  font-size: 2.0em;
  color: #A4C6FF;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  margin-bottom: 15px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.footer{
  margin-top:10px;
  width:100%;
  background:#464646;
  color: #fff;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

//ログインボックス
.login_box {
  margin: 10px auto;
  width: 400px;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
  border: 3px solid;
  border-color: #eee;
  text-align: center;
  background-color: #fff;
}
//ボタン関係
.btn_position {
  margin-top: 20px;
}
.follow_button {
  display: inline;
}
/* Users index */
.Profile-name {
  font-size: 200%;
  font-weight: 600;
  margin-right: 20px;
  font-family: 'monospace', SimSun;
}
//一覧表される場合のユーザー名
.user_name {
  font-size: 100%;
  font-weight: 600;
  padding-top: 5px;
  font-family: 'monospace', SimSun;
}
/*プロフィールの画像表示*/
.profile_picture {
  float:left;
  margin-left: 100px;
  margin-right: 60px;
  border-radius: 50%;
}

.stats {
  // overflow: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 20px;
  a {
    float: left;
    margin-right: 20px;
    font-size: 120%;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.microposts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}
.micropost_picture {
  width: 290px;
  height: 290px;
  object-fit: cover;
  border: solid 1px #808080; /* 枠線のスタイル 太さ 色 */
  margin: 10px;
}
.micropost_picture:hover {
  border: solid 1px #808080; /* 枠線のスタイル 太さ 色 */
  box-shadow: 0px 0px 5px #808080;
}

.modal_picture {
  display: inline;
  float: left;
  width: 50%;
  max-height: 30%;
  margin-left: 0;
  margin-bottom: 5px;
}
.modal_username {
  text-align: left;
}
.modal_content {
  padding: 10px;
}

.card {
  width: 500px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #999;
  margin: 10px auto;
}
.card-img {
  width: 500px;
  height: auto;
  margin: 0 auto;
}
.card-content {
  padding: 20px;
}
.card-profile {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: left;
  color: #333;
  float:left;
  border-radius: 50%;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
.favorite_button {
  float: right;
  text-align: center;
  width: 50%;
  height: 50px;
  padding-left: 35%;
  padding-right: 5px;
  margin-bottom: -20px;

}

.search_box {
  margin-top: 11px;
}
.search_form{
  margin-right: 5px;
  width: 200px;
  height: 30px;
  border-radius: 10px;
}
#submit_btn{
  float: right;
  width: 50px;
  height: 30px;
  border-radius: 10px;
}
#submit_btn:active{
  background-color: #BAD3FF;
}
